<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="90px" height="95px" viewBox="0 0 90 95" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="answer-svg">
    <!-- Generator: Sketch 3.1 (8751) - http://www.bohemiancoding.com/sketch -->
    <title>OpinioNation</title>
    <defs>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
            <feGaussianBlur stdDeviation="1.5" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
            <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.368665082 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
            <feMerge>
                <feMergeNode in="SourceGraphic"></feMergeNode>
                <feMergeNode in="shadowMatrixInner1"></feMergeNode>
            </feMerge>
        </filter>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="sprites" sketch:type="MSArtboardGroup" transform="translate(-152.000000, -407.000000)" filter="url(#filter-1)" class="answer-icon-color" ng-class="{ selected : selectedTab == 'answers' }">
            <g id="row4" sketch:type="MSLayerGroup" transform="translate(21.000000, 405.000000)">
                <path d="M199.449255,96.0734065 L192.724861,73.929501 L158.912578,73.929501 L152.188185,96.0734065 L131,96.0734065 L163.733842,2.66175913 L187.776722,2.66175913 L220.637439,96.0734065 L199.449255,96.0734065 Z M187.030473,57.3852038 C180.813549,37.3198404 177.313939,25.9722628 176.531537,23.3421307 C175.749135,20.7119985 175.188774,18.6333768 174.850439,17.1062032 C173.454803,22.5361536 169.458269,35.9623528 162.860717,57.3852038 L187.030473,57.3852038 Z" id="A" sketch:type="MSShapeGroup"></path>
            </g>
        </g>
    </g>
</svg>