<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="99px" height="83px" viewBox="0 0 99 83" version="1.1" preserveAspectRatio="xMinYMin meet" class="checkmark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>OpinioNation Check Icon</title>
    <desc>OpinioNation Check Icon</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Artboard-14" sketch:type="MSArtboardGroup" transform="translate(-1412.000000, -1391.000000)" fill="#000000">
            <path d="M1496.76875,1391 L1490.32188,1397.90062 L1445.4,1445.99677 L1431.92188,1432.39423 L1425.28125,1425.69231 L1412,1439.09615 L1418.64062,1445.79808 L1438.95312,1466.29808 L1445.79063,1473.19869 L1452.43125,1466.10254 L1503.99375,1410.91023 L1510.44062,1404.00962 L1496.76875,1391 L1496.76875,1391 Z" id="checkmark-svg" sketch:type="MSShapeGroup"></path>
        </g>
    </g>
</svg>