<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="111px" height="105px" viewBox="0 0 111 105" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="favorite-svg">
    <!-- Generator: Sketch 3.1 (8751) - http://www.bohemiancoding.com/sketch -->
    <title>OpinioNation</title>
    <defs>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
            <feGaussianBlur stdDeviation="1.5" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
            <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.467578125 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
            <feMerge>
                <feMergeNode in="SourceGraphic"></feMergeNode>
                <feMergeNode in="shadowMatrixInner1"></feMergeNode>
            </feMerge>
        </filter>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="sprites" sketch:type="MSArtboardGroup" transform="translate(-273.000000, -404.000000)" filter="url(#filter-1)" class="favorite-icon-color" ng-class="{ selected : selectedTab == 'favorites' }">
            <g id="row4" sketch:type="MSLayerGroup" transform="translate(21.000000, 405.000000)">
                <polygon id="Star" sketch:type="MSShapeGroup" points="307.5 85.8770055 273.702348 103.645483 280.157125 66.0112441 252.81425 39.3585283 290.601174 33.8677669 307.5 -0.372994491 324.398826 33.8677669 362.18575 39.3585283 334.842875 66.0112441 341.297652 103.645483 "></polygon>
            </g>
        </g>
    </g>
</svg>