<div class="post" ng-controller="AnswerCtrl as answer" ng-class="{slideState: post.slideState}">
  <div class="front" ng-click="getAnswers(post.id); slide(post)" id="post_{{$index}}">
    <h1>{{ post.question }}</h1>
    <div class="post-overlay"></div>
    <div class="full-image" data-bg-image="{{post.post_pic}}"></div>
  </div>
  
  <div class="back clearfix" style="overflow: hidden">
    <div class="postnav">
      <span class="close-post" data-ng-click="slide(post)"><%= render "partials/xicon" %></span>
      <div class="fav" data-ng-controller="FavCtrl as fav" style="position: absolute; top: 0; right: 0; left: 0">
          <% if current_user %>
            <div class="love-button" ng-class="{selected: post.post_favorite.id}" data-ng-click="updateFavorite(post)">Love It!</div>
          <% else %>
            <a href="/users/new" class="love-button">Love It!</a> 
          <% end %>
      </div>
    </div>

    <div>
      <div class="post-info">
        <div class="picture-column">
          <a href="/users/{{post.poster.username}}"><img data-ng-src="{{post.poster.profile_pic}}" class="poster-profile-pic"></a>
        </div>
        <div class="content">
          <h3 class="user-handle"><a href="/users/{{post.poster.username}}">@{{ post.poster.username }}</a></h3>
          <h2 class="title">{{ post.question }}</h2>
          <div ng-repeat="tag in post.post_tags">
            <div class="btn btn-info btn-xs">#{{ tag }}</div>
          </div>
        </div>
      </div>

      <% if current_user %>
        <form class="answer-form" data-ng-submit="answer.addAnswer(post.id)">
          <input type="text" placeholder="Add an answer" class="answer-input form-control" data-ng-model="body">
          <!-- <input type="submit" value="Send" class="answer-submit"> -->
        </form>
      <% else %>
        <%= form_tag("/users/new", class: 'answer-form', method: "get") do %>
          <input type="text" placeholder="Answer" class="answer-input" />
          <!-- <input name="commit" type="submit" value="Send" class="answer-submit" /> -->
        <% end %>
      <% end %>
    </div>

    <div style="overflow: scroll; height: 80vh">
      <div class="lightbox-preview">
        <img data-ng-src="{{post.post_pic}}" class="lightbox-thumb" data-ng-click="toggleLightBox(post.post_pic)">
      </div>

      <div class="answers">

        <div class="answer clearfix" data-ng-repeat="answer in answers">

          <div class="post-info">
            <div class="picture-column">
              <a href="/users/{{answer.answerer.username}}"><img data-ng-src="{{answer.answerer.user_pic}}" class="poster-profile-pic"></a>
            </div>
            <div class="content">
              <h3 class="user-handle"><a href="/users/{{answer.answerer.username}}">@{{ answer.answerer.username }}</a></h3>
              <p class="answer-text">{{ answer.body }}</p>
              <p class="answer-date text-muted text-left">Posted {{ answer.created_at | date : 'h:mm a - MMM d, yyyy' }}</p>
              <div class="votes" data-ng-controller="VoteCtrl as vote">
                <% if current_user %>
                  <ng-pluralize count="answer.vote_count" when="{'1': '1 vote', 'other': '{} votes'}"></ng-pluralize>
                  <div class="add-favorite" data-ng-click="updateVote(answer)"><%= render "partials/checkicon" %></div>
                <% else %>
                  <ng-pluralize count="answer.vote_count" when="{'1': '1 vote', 'other': '{} votes'}"></ng-pluralize>
                  <a href="/users/new" class="add-favorite"><%= render "partials/checkicon" %></a> 
                <% end %>
                

              </div> <!-- /votes -->
            </div> <!-- /content -->
          </div> <!-- post-info -->
        </div> <!-- /answer -->
      </div> <!-- /answers -->
    </div>

  </div> <!-- /back -->
</div> <!-- /post -->