<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="93px" stroke="#ffffff" height="94px" viewBox="0 0 93 94" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="close-button">
    <!-- Generator: Sketch 3.0.4 (8053) - http://www.bohemiancoding.com/sketch -->
    <title>Line 3</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="sprites" sketch:type="MSArtboardGroup" transform="translate(-281.000000, -41.000000)" stroke-linecap="square" stroke="#979797" stroke-width="12">
            <g id="row1" sketch:type="MSLayerGroup" transform="translate(15.000000, 25.000000)">
                <path d="M312.5,62.5721723 L354.702797,104.846633 L312.5,62.5721723 L270.297203,104.846633 L312.5,62.5721723 Z M312.5,62.5721723 L270.530889,20.5317948 L312.5,62.5721723 L354.469111,20.5317948 L312.5,62.5721723 Z" id="close-button-svg" sketch:type="MSShapeGroup"></path>
            </g>
        </g>
    </g>
</svg>