<!-- User Profile -->
<div class="user-profile" data-ng-controller="UserProfileCtrl">

  <div class="img-circle user-profile-pic" bg-image="{{user.profile_pic_medium}}"></div>
  <h2 class="user-profile-username" ng-bind="'@'+user.username"></h2>

  <!-- Profile Tabs -->
  <div class="profile-tabs clearfix">
    <button class="profile-tab question-tab" ng-click="changeProfileTab('questions')"><%= render 'partials/questionicon' %></button>
    <button class="profile-tab answer-tab" ng-click="changeProfileTab('answers')"><%= render 'partials/answericon' %></button>
    <button class="profile-tab favorite-tab" ng-click="changeProfileTab('favorites')"><%= render 'partials/favoriteicon' %></button>
  </div>

  <div data-ng-controller="UserPostCtrl">
    <div data-ng-controller="UserAnswerCtrl">
      <div data-ng-controller="UserFavoriteCtrl">

        <ul class="user-profile-fill-space" ng-show="selectedTab === 'questions'">
          <li class="post-info" data-ng-repeat="post in user_posts">
            <div class="picture-column">
              <a href="/posts/{{post.id}}" bg-image="{{post.post_pic}}" class="poster-profile-pic"></a>
            </div>
            <div class="content">
              <a href="/posts/{{post.id}}"><p class="title">{{ post.question }}</p></a>
              <p class="answer-date text-muted text-left">Posted {{ post.created_at | date : 'h:mm a - MMM d, yyyy' }}</p>
            </div> <!-- /content -->
          </li> <!-- /post-info -->
        </ul> <!-- /user-profile-fill-space -->

        <ul class="user-profile-fill-space" ng-show="selectedTab === 'answers'">
          <li class="post-info" data-ng-repeat="answer in user_answers">
            <div class="picture-column">
              <a href="/posts/{{answer.post_id}}" bg-image="{{answer.question.post_pic}}" class="poster-profile-pic"></a>
            </div>
            <div class="content">
              <a href="/posts/{{answer.post_id}}"><p class="user-answers">{{ answer.body }}</p></a>
              <a href="/posts/{{answer.post_id}}"><p class="answer-text">Q. {{ answer.question.question }}</p></a>
              <a href="/users/{{answer.question.poster}}"><p class="answer-text">asked by @{{ answer.question.poster }}</p></a>
              <p class="answer-date text-muted"> Received <ng-pluralize count="answer.vote_count" when="{'1': '1 vote', 'other': '{} votes'}"></ng-pluralize></p>
            </div> <!-- /content -->
          </li> <!-- /post-info -->
        </ul> <!-- /user-profile-fill-space -->

        <ul class="user-profile-fill-space" ng-show="selectedTab === 'favorites'">
          <li class="post-info" data-ng-repeat="favorite in user_favorites">
            <div class="picture-column">
              <a href="/posts/{{favorite.id}}" bg-image="{{favorite.post_pic}}" class="poster-profile-pic"></a>
            </div>
            <div class="content">
              <a href="/posts/{{favorite.id}}"><p class="user-answers">{{favorite.question}}</p></a>
              <a href="/users/{{favorite.poster.username}}"><p class="answer-text">asked by @{{ favorite.poster.username }}</p></a>
              <a href="/posts/{{answer.post_id}}"><p class="answer-text">{{ answer.body }}</p></a>
              <p class="answer-date text-muted text-left">Posted {{ favorite.created_at | date : 'h:mm a - MMM d, yyyy' }}</p>
            </div> <!-- /content -->
          </li> <!-- /post-info -->
        </ul> <!-- /user-profile-fill-space -->

      </div>
    </div>
  </div>

</div> <!-- /user-profile -->