<!-- User Profile -->
<div class="user-profile" data-ng-controller="UserProfileCtrl">
  
  <div class="container">
    <div class="imageWrapper">
      <%= image_tag @user.profile_pic(:medium), class: "img-circle user-profile-pic" %>
    </div>
    <h2 class="user-profile-username">@<%= @user.username %></h2>
  </div>

  <!-- Profile Tabs -->
  <div class="profile-tabs clearfix">
    <button class="profile-tab question-tab"><span id="question-icon" ng-click="changeProfileTab('questions')"></span></button>
    <button class="profile-tab answer-tab"><span id="answer-icon" ng-click="changeProfileTab('answers')"></span></button>
    <button class="profile-tab favorite-tab"><span id="favorite-icon" ng-click="changeProfileTab('favorites')"></span></button>
  </div>

  <!-- Fill Container -->
  <div data-ng-controller="UserPostCtrl">
    <div data-ng-controller="UserAnswerCtrl">
      <div data-ng-controller="UserFavoriteCtrl">
        <ul class="user-profile-fill-space" data-ng-repeat="post in user_posts" ng-show="selectedTab === 'questions'">
          <img data-ng-src="{{post.post_pic}}" class="user-profile-pic">
          <a href="/posts/{{post.id}}"><li class="user-profile-row">{{ post.question }}</li></a>
          <p class="text-muted text-left">Posted {{ post.created_at | date : 'h:mm a - MMM d, yyyy' }}</p>
          <li><ng-pluralize count="post.num_favs" when="{'0': '', '1': '1 person loves this!', 'other': '{} people love this!'}"></ng-pluralize></li>
        </ul>

        <ul class="user-profile-fill-space" data-ng-repeat="answer in user_answers" ng-show="selectedTab === 'answers'">
          <a href="/posts/{{answer.post_id}}" class="col third">
            <img data-ng-src="{{answer.question.post_pic}}" class="user-profile-pic">
          </a>
          <a href="/posts/{{answer.post_id}}"><li class="user-profile-row">Q. {{ answer.question.question }}</li></a>
          <li class="user-profile-row"><a href="/users/{{answer.question.poster}}">asked by @{{ answer.question.poster }}</a></li>
          <a href="/posts/{{answer.post_id}}"><li class="user-profile-row">A. {{ answer.body }}</li></a>
          <li class="user-profile-row">Received <ng-pluralize count="answer.vote_count" when="{'1': '1 vote', 'other': '{} votes'}"></ng-pluralize></li>
        </ul>

        <ul class="user-profile-fill-space" data-ng-repeat="favorite in user_favorites" ng-show="selectedTab === 'favorites'">
          <img data-ng-src="{{favorite.post_pic}}" class="user-profile-pic">
          <a href="/posts/{{favorite.id}}"><li class="user-profile-row">{{ favorite.question }}</li>
          <li class="user-profile-row"><a href="/users/{{favorite.poster.username}}">asked by @{{ favorite.poster.username }}</a></li>
          <p class="text-muted text-left">Posted {{ favorite.created_at | date : 'h:mm a - MMM d, yyyy' }}</p>
          </a>
        </ul>
      </div>
    </div>
  </div> <!-- /fill-container -->

</div> <!-- /user-profile -->