<!-- User Profile -->
<div class="user-profile" data-ng-controller="UserProfileCtrl">
  <!-- Pull from API -->
  <div class="container">
    <div class="imageWrapper">
      <img src="{{user.profile_pic_medium}}" class="img-circle user-profile-pic">
    </div>
    <h2 class="user-profile-username">{{user.username}}</h2>
  </div>

  <!-- Profile Tabs -->
  <div class="profile-tabs clearfix">
    <button class="profile-tab"><span id="question-icon" ng-click="changeProfileTab('questions')"></span></button>
    <button class="profile-tab"><span id="answer-icon" ng-click="changeProfileTab('answers')"></span></button>
    <button class="profile-tab"><span id="favorite-icon" ng-click="changeProfileTab('favorites')"></span></button>
  </div>

  <!-- Fill Container -->
  <div data-ng-controller="UserPostCtrl">
    <div data-ng-controller="UserAnswerCtrl">
      <div data-ng-controller="UserFavoriteCtrl">
        <ul class="user-profile-fill-space" data-ng-repeat="post in user_posts" ng-show="selectedTab === 'questions'">
          <a href=""><li class="user-profile-row">{{ post.question }}</li></a>
        </ul>

        <ul class="user-profile-fill-space" data-ng-repeat="answer in user_answers" ng-show="selectedTab === 'answers'">
          <a href="#"><li class="user-profile-row">{{ answer.body }}</li></a>
        </ul>

        <ul class="user-profile-fill-space" data-ng-repeat="favorite in user_favorites" ng-show="selectedTab === 'favorites'">
          <a href="#"><li class="user-profile-row">{{ favorite.question }}</li>
          </a>
        </ul>
      </div>
    </div>
  </div>

</div>