<!-- Posts -->
<div class="posts" data-ng-controller="PostCtrl"> 

  <% if current_user %>
    <%= link_to "New Post", new_post_path, :id => "newz" %>
  <% end %>
    
  <h1>POSTS INDEX!</h1>
    <div data-ng-repeat="post in posts">
      <%= render 'partials/post' %>
    </div>
  </div> <!-- /.posts -->
</div>
