<!-- Posts -->
<div class="posts" data-ng-controller="PostCtrl">  

  <% if current_user %>
    <%= link_to "New Post", new_post_path, :id => "newz" %>
  <% end %>
    
  <h1>POSTS INDEX!</h1>
  
    <div class="post col half" ng-class="{flipped: post.flipState}" data-ng-repeat="post in posts">
      <div class="front" ng-click="flip(post)" >
        <div class="full-image" style="background-image: url({{post.post_pic}})"></div>
        <h1 class="title">{{ post.question }}</h1>
      </div>
      
      <div class="back clearfix">
        <span class="close-button" ng-click="flip(post)">x</span>
        <div data-ng-controller="FavCtrl as fav">
          <a ng-click="updateFavorite(post)" class="btn btn-primary">Favorite/Unfavorite</a>
        </div>
        <h2 class="title">{{ post.question }}</h2>
        <a href="#"><img ng-src="{{post.poster.profile_pic}}" class="poster-profile-pic"></a>
        <h3><a href="">{{ post.poster.username }}</a></h3>
        <a href="#" class="lightbox-photo"><img ng-src="{{post.post_pic}}" class="post-photo"></a>

        <form ng-controller="AnswerCtrl as answer" ng-submit="answer.addAnswer(post.id)">
          <input type="text" placeholder="Answer" class="answer-input" ng-model="body">
          <input type="submit" value="Send" class="answer-submit">
        </form>

        <div class="answers">
          <div class="answer clearfix" data-ng-repeat="answer in post.answers">
            <div class="clearfix">
              <a href="#" class="col third">
                <img data-ng-src="{{answer.user_pic}}" class="profile-pic">
              </a>
              <div class="">
                <a href="#" class="answer-username">{{ answer.username }}</a><br />
                <p class="answer-body">{{ answer.body }}</p>
                <div data-ng-controller="VoteCtrl as vote">
                  <a ng-click="updateVote(answer)" class="btn btn-primary">Vote/Unvote</a> <span>{{answer.vote_count}} votes</span>
                </div>
              </div>
            </div>
<!--             <span class="checkmark"></span> -->
          </div>
        </div> <!-- /.answers -->
      </div> <!-- /.back -->
    </div> <!-- /.post -->

  </div> <!-- /.posts -->



</div>