<!-- Posts -->
<div class="posts clearfix" data-ng-controller="PostCtrl"> 

  <div id="lightbox" ng-click="toggleLightBox()">
    <figure id="lightbox-full"></figure>
  </div>

  <div class="col half clearfix" data-ng-repeat="post in posts">
    <%= render 'partials/post' %>
  </div>

</div> <!-- /posts -->