<div data-ng-controller="PostCtrl">
  <h1>POSTS INDEX!</h1>
  
  <% if current_user %>
    <%= link_to "New Post", new_post_path, :id => "newz" %>
  <% end %>

  <div data-ng-repeat="post in posts">
    <h1>{{ post.question }}</h1>
    <h3>{{ post.poster.username }}</h3>
    <div>{{ post.post_favorite }}</div>

    <a ng-click="destroy(post)">Delete Post!</a>


    <div data-ng-controller="FavCtrl as fav">
      <!-- <form ng-submit="fav.addFavorite(post.id)">
        <input type="submit" value="Favorite" class="">
      </form> -->

      <a ng-click="updateFavorite(post)" class="btn btn-primary">Favorite/Unfavorite</a>

      <!-- <a ng-click="fav.addFavorite(post.id)" class="btn btn-primary">Favorite</a>

      <a ng-click="fav.destroyFavorite(post.post_favorite)" class="btn btn-danger">Unfavorite</a> -->
    </div>
    
    <img data-ng-src="{{post.post_pic}}">
    
    <form ng-controller="AnswerCtrl as answer" ng-submit="answer.addAnswer(post.id)">
      <input type="text" placeholder="Answer" class="answer-input" ng-model="body">
      <input type="submit" value="Send" class="answer-submit">
    </form>

    <div class="answers">
      <div class="answer clearfix" data-ng-repeat="answer in post.answers">
        <a href="#">
          <img data-ng-src="{{answer.user_pic}}" class="profile-pic">
        </a>
        <a href="#">{{ answer.username }}</a>
        <p class="answer-body">{{ answer.body }}</p>
        <form ng-controller="VoteCtrl as vote" ng-submit="vote.addVote(answer.id)">
          <input type="submit" value="Endorse" class="">
        </form>
        <span class="checkmark"></span>
      </div>
    </div> <!-- /.answer -->

  </div>



</div>