<!-- Posts -->
<div class="posts" data-ng-controller="PostCtrl"> 

  <div id="lightbox" ng-click="toggleLightBox()">
    <figure id="lightbox-full"></figure>
  </div>

  <div data-ng-repeat="post in posts">
    <%= render 'partials/post' %>
  </div>

</div> <!-- /posts -->