<!-- Posts -->
<div class="posts container" data-ng-controller="PostCtrl">
  <h1>POSTS INDEX!</h1>
  
  <div class="posts">
    
    <div class="post col half" data-ng-repeat="post in posts">
      <div class="front" ng-click="flip()">
        <div class="full-image" style="background-image: url({{post.post_pic}})"></div>
        <h1 class="title">{{ post.question }}</h1>
        <!-- <img data-ng-src="{{post.post_pic}}"> -->
      </div>
      
      <div class="back">
        <span class="close-button" ng-click="flip(post)">x</span>
        <span class="favorite-star" ng-click="favorite(post)"></span>
        <h2 class="title">{{ post.question }}</h2>
        <h3><a href="">{{ post.poster.username }}</a></h3>
        <a href="#">
          <img ng-src="{{post.poster.profile_pic}}" class="poster-profile-pic">
        </a>
        <img ng-src="{{post.post_pic}}" class="post-photo">

        <form ng-submit="addAnswer()">
          <input type="text" placeholder="Answer" class="answer-input">
          <input type="submit" value="Send" class="answer-submit">
        </form>

        <div class="answers">
          <div class="answer" data-ng-repeat="answer in post.answers">
            <a href="#">
              <img data-ng-src="{{answer.user_pic}}" class="profile-pic">
            </a>
            <a href="#">{{ answer.username }}</a>
            <p class="answer-body">{{ answer.body }}</p>
            <span class="checkmark"></span>
          </div>
        </div> <!-- /.answer -->
      </div> <!-- /.back -->
    </div> <!-- /.post -->

  </div> <!-- /.posts -->



</div>