<!-- Posts -->
<div class="posts" data-ng-controller="PostShowCtrl"> 

  <div id="lightbox" ng-click="toggleLightBox()">
    <figure id="lightbox-full"></figure>
  </div>

  <%= render 'partials/post' %>
    
</div> <!-- /posts -->