/*
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,800);

/* Z-Index List 
=============== */
//  -10 - .full-image
//	10	-	.back
//	50	-	.navbar-default
//	100	-	#lightbox
//	500	-	.overlay
//	500	-	.overlay-fullscreen.open

/* Global Variables and Properties 
=============================== */
* { box-sizing: border-box; }

body { 
	font-family: 'Open Sans';
	background-color: #2B3E51; 
	padding-top: 50px;
}

.container { 
  margin: 0 auto;
  // max-width: 60rem;
  // width: 90%; 
}

#at-symbol-glyph {
	font-size: 17px;
}

.trigger-add-post {
	background-color: #428bca;
	padding: 8px 10px;
	&:hover { background-color: #3071a9; }
}

#plus-sign-glyph {
	background: url('plus.svg') no-repeat;
	width: 21px;
	background-size: 18px;
	background-position: 1px -1px;
	display: block;
	border-radius: 4px;
	height: 17px;
}

.form_styles { color: white; }

// Spinner
#spin-loader { 
	display: none; 
	background: url('loading.gif') no-repeat; 
	width: 50px;
	height: 50px;
	margin: 20px auto;
}

// Clearfix
.clearfix:after,
.clearfix:before {
	content: "";
	display: table;
} .clearfix:after { clear: both; }

// Media Queries
@media (min-width: 768px) { 
	.container { width: 100%; }
	// Disable Bootstrap Right Nav
	.navbar-header { float: none; }
	.navbar-toggle { display: block; }
	.navbar-right { display: none; }
}
@media(min-width: 60rem) { html { font-size: 75%; } }


/* ======== NAV STYLES ========= */

.navbar-default { 
	z-index: 50; 

	// Hide Nav
  transition: transform 0.7s .3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.hide-navbar {
	transform: translate(0, -100%);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.navbar-default .navbar-toggle { border: none; }

/* Overlay style 
====================== */
// Overlay Nav inspired by HugeInc,
// rebuilt by tympanus/codrops.

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(61,89,122,0.9);
	z-index: 500;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 40px;
	height: 40px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url('sprites.png') no-repeat center center;
	background-size: 150px;
	background-position: -100px -15px;
	text-indent: 200%;
	color: transparent;
	outline: none;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 54px;
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
	padding: 25px 0;
}

.overlay ul li a {
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	// color: rgba(61,89,122,0.9);
}

/* Effects */
.overlay-fullscreen {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-fullscreen.open {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.5s;
	z-index: 500;
}

.overlay-fullscreen nav {
	perspective: 1200px;
}

.overlay-fullscreen nav ul {
	opacity: 0.4;
	transform: translateY(-25%) rotateX(35deg);
	transition: transform 0.5s, opacity 0.5s;
}

.overlay-fullscreen.open nav ul {
	opacity: 1;
	transform: rotateX(0deg);
}

.overlay-fullscreen.close nav ul {
	transform: translateY(25%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}
