/*
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import "base";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,800);
@import url(http://fonts.googleapis.com/css?family=Bevan);

/* Global Properties 
=============================== */
// * { box-sizing: border-box; }

body { 
	font-family: $base-font-family;
	background-color: $bg-color; 
	padding-top: 50px;
}

.logo-fontface { font-family: $brand-font; }

.container { 
  margin: 0 auto;
  // max-width: 60rem;
  // width: 90%; 
}

#at-symbol-glyph { font-size: 15px; }

.trigger-add-post {
	background-color: $brand-color;
	padding: 8px 10px;
	&:hover { background-color: $brand-color-hover !important; }
}

.btn-primary { 
	background-color: $brand-color; 
	border: 0; 
	&:hover { background-color: $brand-color-hover; }
}

#plus-sign-glyph {
	background: url('plus.svg') no-repeat;
	width: 21px;
	background-size: 20px;
	background-position: 2px 0px;
	display: block;
	border-radius: 4px;
	height: 17px;
}

.form_styles { 
	color: $post-contrast-color; 
	h2 { text-align: center; } 
	span a { color: $brand-color; }
}

// Spinner
#spin-loader { 
	display: none; 
	background: url('loading.gif') no-repeat; 
	width: 50px;
	height: 50px;
	margin: 20px auto;
}

// Clearfix
.clearfix:after,
.clearfix:before {
	content: "";
	display: table;
} .clearfix:after { clear: both; }

// Media Queries
@media (min-width: 768px) { 
	.container { width: 100%; }
	// Disable Bootstrap Right Nav
	.navbar-header { float: none; }
	.navbar-toggle { display: block; margin-top: 9px; }
	.navbar-right { display: none; }
}
@media (min-width: 60rem) { html { font-size: 75%; } }


/* ======== NAV STYLES ========= */

#menu-logo { color: white; font-size: 3.5rem; }

@media (min-width: 44rem) { #menu-logo { font-size: 60px; } }

.navbar-default { 
	z-index: 50; 

	// Hide Nav
  transition: transform 0.7s .3s ease;
  transform: translate3d(0px, 0px, 0px);
}
.hide-navbar { transform: translate(0, -100%); }
.navbar-brand { 
	color: $brand-color !important; 
	&:hover { color: $brand-color-hover !important; }
}
.nav-right { 
	display: none; 
	margin-right:8px;
	margin-bottom: 0;
	float: right; 
	.nav-link { display: inline-block; }
}
@media (min-width: 40rem) {
	.nav-right { display: block; }
}
.navbar-default .navbar-toggle { border: 0; }

/* Overlay style 
====================== */
// Overlay Nav inspired by HugeInc,
// rebuilt by tympanus/codrops.

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: $nav-overlay-color;
	z-index: 500;
}

/* Overlay closing cross */
.overlay .overlay-close {
	overflow: hidden;
	border: none;
	background-color: transparent;
	color: transparent;
	outline: none;
	cursor: pointer;
	
	.close-button {
		position: absolute;
		top: 0;
		right: 30px;
		width: 50px;
	}
	#close-button-svg {
		stroke: white;
		stroke-width: 6px;
	}
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 40px;
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	// height: calc(100% / 5);
	min-height: 54px;
}

.overlay ul li a {
	font-weight: $light;
	display: block;
	color: $nav-overlay-links-color;
	padding: 12.5px 0;
	text-decoration: none;

	&:hover {
		color: $nav-overlay-color;
		background-color: $nav-overlay-links-hover-color;
	}
}

/* Effects */
.overlay-fullscreen {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0s 0.5s;
	
	&.close nav ul { transform: translateY(25%) rotateX(-35deg); }
	&.open {
		opacity: 1;
		visibility: visible;
		transition: opacity 0.5s;
		z-index: 500;
		nav ul { opacity: 1; transform: rotateX(0deg); }
	}
	nav { 
		perspective: 1200px;

		ul {
			opacity: 0.4;
			transform: translateY(-25%) rotateX(35deg);
			transition: transform 0.5s, opacity 0.5s;
		}
	}
}

@media screen and (max-height: 30.5em) {
	.overlay {
		nav { height: 70%; font-size: 34px; }
		ul li { min-height: 34px; }
	}
}
