/* Posts Styles
================ */
.posts { 
	position: relative; 
	margin: 0 1rem;
	
	.flipped {
		-webkit-transform: scale(1.0) scaleZ(1.0) rotateY(180deg);
		transform: scale(1.0) scaleZ(1.0) rotateY(180deg);
		-webkit-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
		// backface-visibility: hidden;
		-webkit-perspective: 0;
		perspective: 0;
		-webkit-perspective-origin: 50% 100%;
		perspective-origin: 50% 100%;
		.front { display: none; z-index: -10; }
	}
	// General Post Styles
	.post {
		float:left;
		width: 100%;
		margin: 0 auto;
		height: 70vh;
		background-color: white;
		border-radius: 4px;
		-webkit-transition: all .65s linear;
		transition: all .65s linear;
		-webkit-transform-style: preserve-3d;
	  transform-style: preserve-3d;
		padding: 5px;
		margin-bottom: 10px;
		
		.front,
		.back {
		  display: block;
		  position: absolute;
		  width: 100%;
		  height: 100%;
		  -webkit-backface-visibility: hidden;
		  -moz-backface-visibility: hidden;
		  backface-visibility: hidden;
		  left: 0;
			top: 0;
			border-radius: 3px;
			margin: 0;
		}
	}
}

/* Lightbox
====================== */
#lightbox {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  padding: 75px;
  text-align: center;
  cursor: pointer;
  display: none;
  z-index: 10;
  
  #lightbox-full {

  	display: block;
    position: relative;
    width: 100%;
    height: 100%;
    white-space: no-wrap;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
  }
}

/* Front Post Styles
===================== */
.front {
	text-transform: uppercase;
	cursor: pointer;
	color: white;
	overflow: hidden;
	transition: all .7s linear;

	h1 { padding-left: 5px; font-weight: 800; }
	.full-image { 
		// transition: filter .7s linear;
		// filter: blur(2px);  
		background-size: cover;
		width: 100%;
		height: 100%;
		position: absolute;
		padding: 0;
		margin: 0;
		z-index: -10;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
}


/* Back Post Styles
=================== */
.back {
	-webkit-transform: rotateY( 180deg );
	transform: rotateY( 180deg ); 
	margin-left: 1px !important;
	background-color: #ECF0F1;
	overflow: scroll;
	padding: 5px;

	h3 a { font-size: 15px; }
	.close-button { 
		cursor: pointer; 
		font-size: 20px;
	}
	.favorite-star {
		position: relative;
		right: 0;
		top: 0;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: white;
	}
	.title { 
		text-transform: uppercase; 
		font-size: 20px;
		float: left;
		margin-top: 5px;
		width: 70%;
		-webkit-user-select: none;
		-moz-user-select: none;
	}
	.poster-profile-pic {
		img { width: 100%; height: 100%; }
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: white;
		float: right;
	}
	.lightbox-preview { 
		margin: 10px auto; 
		width: 100%;
		display: block;
		text-align: center;
		height: 100px;
		overflow: hidden;
		box-shadow: inset 0 1px 10px black;
		cursor: pointer;
	}
	.lightbox-thumb { width: 100%; }
}

/* Back Post Form Styles
======================= */
.answers { padding: 10px 0; }
.answer-input {
	border: 1px solid rgba(0,0,0,.33);
	background-color: rgba(255,255,255,.47);
	border-radius: 5px;
	height: 30px;
	padding-left: 5px;
	width: 79%;
}
.answer-submit {
	border: 0;
	background-color: inherit;
	font-size: 16px;
	font-weight: 800;
	color: #637BD1;
	width: 19%;
}


/* Answer Thread Styles
===================== */
.answer {
	border: 1px solid #979797;
	border-radius: 1px;
	padding-top: 10px;
	background-color: #F3F3F3;
	&:nth-child(n+2){ border-radius: 0; }
	&:not(:last-child) { border-bottom: none; }
	
	.profile-pic {
		border-radius: 5px;
		width: 38px;
		height: 38px;
		border-radius: 5px;
		margin-left: 5%;
	}
	.answer-username { padding-left: 15px; }
	.answer-text {
		width: 75%;
		padding-left: 15px;
		float: left;
	}
	.best-answer { background-color: white; }
}

.new-post { color: white; }

// Media Queries
@media (min-width: 45rem) {
	.posts {
		.col { float: left; }
		.post { 
			height: 400px; 
			padding: 10px; 
		}
		.half { 
			width: 50%; 
			&:nth-child(even) { padding-right: 1.5%; }
			&:nth-child(odd) { padding-left: 1.5%; }
		}
	}
	.answer-submit { width: 20%; }
}
