@import "base";

/* User Profile
================= */
.user-profile {
	background-color: $user-profile-gray;
	border-radius: .2rem;
	width: 100%;
	position: absolute;
	margin-top: 7.5rem;
	margin-bottom: 1rem;

	.container { 
		width: 100%;
		text-align: center; 
		.imageWrapper { height: 10.5rem; }
	}
	.user-profile-pic { 
		width: 14.5rem; 
		height: 14.5rem; 
		overflow: hidden; 
		position: relative;
		top: -7rem;
	}
	.user-profile-username { 
		color: #828282; 
		// font-size: 21px;
		font-size: 2.1rem; 
		margin-top: -2.5rem;
		margin-bottom: 1.5rem; 
	}
	button { 
		outline: 0; 
	}
}


/* Profile Tabs
================= */
.profile-tabs {
	.profile-tab { 
		width: 33.3333333%; 
		border: 1px solid rgba(151,151,151,.40); 
		min-height: 7rem;
		float: left;
		background-color: $user-profile-gray;
		border-left: none;
	}
	.question-icon,
	.answer-icon,
	.favorite-icon {
		box-shadow: inset .1rem .1rem black;
	}
	span { 
		display: inline-block; 
		width: 5.3rem;
		height: 4.5rem;
		cursor: pointer;
	}
	#question-icon {
		background: url('sprites.png') no-repeat;
		background-size: 170px;
		background-position: -2px -170px;
		&:hover { background-position: -2px -116px; }
	}
	#answer-icon {
		background: url('sprites.png') no-repeat;
		background-size: 170px;
		background-position: -58px -169px;
		&:hover { background-position: -58px -117px; }
	}
	#favorite-icon {
		background: url('sprites.png') no-repeat;
		background-size: 170px;
		background-position: -114px -170px;
		&:hover { background-position: -114px -116px; }
	}

	// Media Queries For Retina Display
	@media screen and (-webkit-min-device-pixel-ratio: 2), 
		screen and (min--moz-device-pixel-ratio: 2), 
		screen and (-o-min-device-pixel-ratio: 2/1), 
		screen and (min-device-pixel-ratio: 2), 
		screen and (min-resolution: 192dpi), 
		screen and (min-resolution: 2dppx) { 
	
			#question-icon {
				background-image: url('sprites@2x.png');
			}
			#answer-icon {
				background-image: url('sprites@2x.png');
			}
			#favorite-icon {
				background-image: url('sprites@2x.png');
			}
	}
}


/* Fill Container
=================== */
.user-profile-fill-space {
	padding: 0;
	margin: 0;
	background-color: $post-contrast-color;
	border-bottom: .1rem solid $user-profile-gray;
	a { 
		color: #0E1B18; 
		&:hover { text-decoration: none; } 
	}
	li {
		margin:0;
		list-style:none;
		// padding: 3rem 2rem;
		transition: color .7s ease;
		&:hover { color: #497bad; }
		font-size: 1.4rem;
	}
}

/* Media Queries for Larger Displays
=============================== */
@media (min-width: 45rem) {
	.user-profile { 
		padding: inherit 0;
		position: relative;
		min-height: 1px;
		width: 50%;
		margin-left: 25%;
	}
	.profile-tabs {
		span { 
			display: inline-block; 
			width: 5.3rem;
			height: 5rem;
		}
		#question-icon,
		#answer-icon,
		#favorite-icon {
			background: url('sprites.png') no-repeat;
			background-size: 16rem;
		}

		#question-icon {
			background-position: 0rem -15.7rem;
			&:hover { background-position: 0rem -10.5rem; }
		}
		#answer-icon {
			background-position: -5.3rem -15.5rem;
			&:hover { background-position: -5.3rem -10.7rem; }
		}
		#favorite-icon {
			background-position: -10.6rem -15.8rem;
			&:hover { background-position: -10.6rem -10.7rem; }
		}
	}
}




// Post Info
.user-profile .post-info { border-bottom: 1px solid rgba(0,0,0,.3); }
.post-info {
	position: relative;
	width: 100%;
	margin: 10px inherit 15px 5px;

	box-shadow: none; 
	overflow: hidden;
	padding: 1rem 2rem 3rem;

	.picture-column {
		position: absolute;
		height: 100%;
		width: 20%;
		left: 0;
		z-index: 10;
		text-align: center;
		padding-top: 7px;
	}
	.content {
		position: relative;
		padding-left: 20%;
		width: 100%;
		height: 100%;
	}
	.title { 
		font-size: 14.5px;
		margin-top: 5px;
		line-height: 135%;
		width: 80%;
	}
	.poster-profile-pic {
		img { width: 100%; height: 100%; }
		width: 50px;
		height: 50px;
		border-radius: 2px;
		background-color: $post-contrast-color;
		margin: 0 auto;
		display: inline-block;
		background: url() no-repeat center center;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.tags { display: inline; }
	.tag { display: inline-block; }
}

.answer-text {
	width: 90%;
	font-weight: 300;
	font-size: 13px;
}
.text-muted { font-size: 13px; }
.user-answers { 
	font-size: 14px; 
		width: 90%;
}