@import "base";

/* User Profile
================= */
.user-profile {
	background-color: $user-profile-color;
	border-radius: 2px;
	width: 100%;
	position: absolute;
	margin-top: 75px;
	margin-bottom: 10px;

	.container { 
		width: 100%;
		text-align: center; 
		.imageWrapper { height: 105px; }
	}
	.user-profile-pic { 
		width: 145px; 
		height: 145px; 
		overflow: hidden; 
		position: relative;
		top: -70px;
		margin: 0 auto;
		background: url() no-repeat center center / cover;
	}
	.user-profile-username { 
		color: #828282; 
		text-align: center;
		font-size: 21px; 
		margin-top: -45px;
		margin-bottom: 15px; 
	}
	button { outline: 0; }
}


/* Profile Tabs
================= */
.profile-tabs {
	z-index: 1;

	.profile-tab { 
		width: 33.3333333%; 
		border: 1px solid rgba(151,151,151,.40); 
		min-height: 75px;
		float: left;
		background-color: $user-contrast-color;
		border-left: none;
		// margin-bottom: -1px;

		&.selected {
			border-bottom: 4px solid #0084b4;
		}
		&:last-child {
			border-right: none;
		}
	}
	.question-svg,
	.answer-svg,
	.favorite-svg {
		width: 40px;
		height: 40px;
	}
	.answer-icon-color,
	.question-icon-color,
	.favorite-icon-color {
		fill: #eee;

		&.selected { fill: #227FBB; }
	}
	span { 
		display: inline-block; 
		width: 5.3rem;
		height: 4.5rem;
		cursor: pointer;
	}
}


/* Fill Container
=================== */
.user-profile-fill-space {
	padding: 0;
	margin: 0;
	background-color: $post-contrast-color;
	
	a { 
		color: #0E1B18; 
		&:hover { text-decoration: none; } 
	}
	li {
		margin:0;
		// margin-bottom: -1px;
		list-style:none;
		// padding: 3rem 2rem;
		transition: color .7s ease;
		font-size: 1.4rem;
		border: .1rem solid $user-profile-color;

		&:hover {
			border-color: #0084b4;
			z-index: 1;
		}
	}
}

/* Media Queries for Larger Displays
=============================== */
@media (min-width: 45rem) {
	.user-profile { 
		padding: 0;
		position: relative;
		min-height: 1px;
		width: 50%;
		margin-left: 25%;
	}
	.profile-tabs {
		.question-svg,
		.answer-svg,
		.favorite-svg {
			width: 40px;
			height: 40px;
		}
		span { 
			display: inline-block; 
			width: 5.3rem;
			height: 5rem;
		}
	}
}




// Post Info
// .user-profile .post-info { border-bottom: 1px solid rgba(0,0,0,.3); }
.post-info {
	position: relative;
	width: 100%;
	box-shadow: none; 
	overflow: hidden;
	padding: 1rem 2rem 3rem;

	.picture-column {
		position: absolute;
		height: 100%;
		width: 20%;
		left: 0;
		z-index: 10;
		text-align: center;
		padding-top: 7px;
	}
	.content {
		position: relative;
		padding-left: 20%;
		width: 100%;
		height: 100%;
	}
	.title { 
		font-size: 14.5px;
		margin-top: 5px;
		line-height: 135%;
		width: 80%;
	}
	.poster-profile-pic {
		width: 50px;
		height: 50px;
		border-radius: 2px;
		background-color: $post-contrast-color;
		margin: 0 auto;
		display: inline-block;
		background: url() no-repeat center center / cover;
	}
	.tags { display: inline; }
	.tag { display: inline-block; }
}

.answer-text {
	width: 90%;
	font-weight: 300;
	font-size: 13px;
}
.text-muted { font-size: 13px; }
.user-answers { 
	font-size: 14px; 
		width: 90%;
}